.img-body{
	float: left;
	width: 30%;
	padding-left: 10px;
}
.img-body img{
	width: 100%;

}
#body{
	width: 960px;
	padding-left: 200px;
}
.clear{
	clear: both;
}
#right{
	float: left;
	width: 38%;
}
#left{
	float: left;
	width: 60%;
}
.content{
	float: left;
	width: 48%;
	padding-left: 10px;
}
.video{
	float: left;
	width: 48%;
	padding-left: 10px;
}
#start{
	width: 100%;
	height: 200px;
}

#start h2{
	padding-left: 100px;
	line-height: 200px;
}
.item{
	float: left;
	padding-left: 10px;
}
.item>a{
	text-decoration: none;
}