#contain{
	border: 1px solid black;
	width:80%;
	height: 200px;
	position: relative;
}
.main{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	position: absolute;
}
#child-top{
	top: 10px;
	left: 1%;
	background-color: blue;
	z-index: 1;
}
#child-right{
	top: 10px;
	right: 20%;
	background-color: yellow;
}
#child-bottom{
	bottom: 10px;
	left: 20%;
	background-color: red;
}